In [1]:
from sklearn import tree
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from IPython.display import SVG
from graphviz import Source
from IPython.display import display
from IPython.display import HTML
style = "<style>{width:50% !important; height:10% !important;}</style>"
HTML(style)

# import numpy as np
# np.random.seed(0)

In [2]:
train_data = pd.read_csv("https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv")

In [3]:
train_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [4]:
X = train_data.drop(['Вид'], axis=1)
y = train_data['Вид']
X.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     15    18.0         1        1                   0
1     20    24.0         1        0                   0
2     34    40.8         1        1                   0
3     26    31.2         1        1                   0
4     16    19.2         1        1                   0

In [5]:
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.33)

In [6]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=10)
clf.fit(X_train, y_train)
train_score = clf.score(X_train, y_train)
test_score = clf.score(X_test, y_test)
mean_cross_val_score = cross_val_score(clf, X_train, y_train , cv=5).mean()

In [8]:
train_score, test_score, mean_cross_val_score

(1.0, 1.0, 1.0)

In [9]:
df_ts = pd.read_json('dataset_209691_15.json')

In [10]:
df_ts.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     19    22.8         1        1                   0
1     23    27.6         1        1                   0
2     22    26.4         1        1                   0
3     24    28.8         1        1                   0
4     17    20.4         1        1                   0

In [11]:
result = clf.predict(df_ts)

In [12]:
pd.Series(result)[result == 'собачка'].count()

53